#projectsSection {
  display: flex;
  flex-direction: column;
  padding: var(--rtc-padding-3xl) 0;
  justify-content: space-evenly;
  gap: var(--rtc-gap-s);
  background-color: var(--rtc-bgColorInverted);
  height: 100svh;
}

#projectsSection h2,
#projectsSection p {
  color: var(--rtc-textColorInverted);
}

#projectsHeader {
  display: flex;
  flex-direction: column;
  gap: var(--rtc-gap-s);
  font-size: 2rem;
  position: relative;
  padding: 0 var(--rtc-padding-3xl);
}

.headerTexts {
  display: flex;
  flex-direction: column;
  gap: var(--rtc-gap-s);
}

.projectsCategories {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  gap: var(--rtc-gap-m);
}

.projectsCategories button {
  display: flex;
  padding: 18px;
  justify-content: center;
  align-items: center;
  color: var(--rtc-color-2);
  font-weight: 600;
  font-size: 0.8rem;
  max-height: 36px;
  background-color: transparent;
  border: 2px solid transparent;
  border-radius: 10px;

  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.projectsCategories button.active {
  border: 2px solid var(--rtc-bgColor3);
  color: var(--rtc-color-2);
}

#cardsContainer {
  display: flex;
  flex: 1;
  padding: 10px var(--rtc-padding-3xl);
  gap: var(--rtc-gap-l);
  align-items: stretch;

  overflow-x: scroll;
  scrollbar-gutter: stable;
  -webkit-overflow-scrolling: touch;

  scroll-behavior: smooth;
  padding-bottom: 50px;

  max-height: 700px;

  user-select: none;
  cursor: grab;
}

#cardsContainer:active {
  cursor: grabbing;
}

#cardsContainer::-webkit-scrollbar {
  height: 10px;
}

#cardsContainer::-webkit-scrollbar-track {
  margin: var(--rtc-padding-3xl);
  border-radius: 10px;
  background: var(--rtc-bgColor2);
}

#cardsContainer::-webkit-scrollbar-thumb {
  background-color: var(--rtc-bgColor);
  border-radius: 10px;
  border: 2px solid transparent; /* simula marge */
  background-clip: content-box; /* perquè el color no pinti sobre el border */
}

#cardsContainer::-webkit-scrollbar-thumb:hover {
  background-color: var(--rtc-bgColor3);
  cursor: pointer;
}

/*! MEDIA QUERIES */
@media (max-width: 1800px) {
  /* DESKTOP or less */
  #projectsSection {
    padding: var(--rtc-padding-xxl) 0;
  }
  .projectsCategories {
    gap: var(--rtc-gap-s);
  }
}

@media (max-width: 1024px) {
  /* LAPTOP - TABLET or less */
  #projectsSection {
    padding: var(--rtc-padding-xxl) 0;
    gap: var(--rtc-gap-s);
  }

  #projectsHeader {
    align-items: center;
    flex-direction: column;
    padding: 0;
  }

  .headerTexts {
    gap: var(--rtc-gap-xs);
    text-align: center;
  }

  .projectsCategories {
    position: static;
    transform: none;
    gap: var(--rtc-gap-xs);
  }

  #cardsContainer {
    padding: 5px var(--rtc-padding-l);
    padding-bottom: 25px;
    max-height: 500px;
  }

  #cardsContainer::-webkit-scrollbar-track {
    margin: var(--rtc-padding-l);
  }
}

@media (max-width: 769px) {
  /* SMALL TABLET or less */
}

@media (max-width: 480px) {
  /* MOBILE or less */
  #projectsSection {
    padding: var(--rtc-padding-xl) 0;
  }
}
