/* CONFIGURACIONES GENERALES*/
@import url('https://fonts.googleapis.com/css2?family=Asimovian&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  /* FONT FAMILY */
  --font-sans:
    'Montserrat', 'Roboto', ui-sans-serif, system-ui, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

  /* BRANDING COLORS */
  --rtc-color-1: #ffffff;
  --rtc-color-2: #16697a;
  --rtc-color-3: #489fb5;
  --rtc-color-4: #95cdd8;
  --rtc-color-5: #cce7ed;
  --rtc-color-6: #e9e9e9a6;

  /* TEXT COLORS */
  --rtc-textColor: var(--rtc-color-1);
  --rtc-textColorInverted: var(--rtc-color-2);
  --rtc-textColorHighlight: var(--rtc-color-4);

  /* BACKGROUND COLORS */
  --rtc-bgColor: var(--rtc-color-2);
  --rtc-bgColorInverted: var(--rtc-color-1);
  --rtc-bgColor2: var(--rtc-color-3);
  --rtc-bgColor3: var(--rtc-color-4);
  --rtc-bgColor4: var(--rtc-color-6);
  --rtc-bgColorHighlight: var(--rtc-color-5);

  /* HIGHLIGHT COLORS */
  --rtc-highlightColor: var(--rtc-color-6);

  /* BORDER RADIUS */
  --rtc-card-border-radius: 30px;

  /* SPACINGS */
  --rtc-margin-xs: 10px;
  --rtc-margin-s: 20px;
  --rtc-margin-m: 30px;
  --rtc-margin-l: 40px;
  --rtc-margin-xl: 50px;
  --rtc-margin-xxl: 75px;
  --rtc-margin-3xl: 100px;

  --rtc-padding-xs: 10px;
  --rtc-padding-s: 20px;
  --rtc-padding-m: 30px;
  --rtc-padding-l: 40px;
  --rtc-padding-xl: 50px;
  --rtc-padding-xxl: 75px;
  --rtc-padding-3xl: 100px;

  --rtc-gap-xs: 10px;
  --rtc-gap-s: 20px;
  --rtc-gap-m: 30px;
  --rtc-gap-l: 40px;
  --rtc-gap-xl: 50px;
  --rtc-gap-xxl: 75px;
  --rtc-gap-3xl: 100px;
}

/* CONFIGURACIONES GENERALES*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px; /* 1rem = 16px */
  scroll-snap-type: y proximity;
  scroll-behavior: smooth;
}

section {
  height: 100svh;
  scroll-snap-align: start;
}

input,
textarea,
select {
  font-size: 1rem; /* iOS fuerza un zoom automático si algun input tiene un font-size inferior a 16px */
}

body {
  font-family: var(--font-sans);
  background-color: rgb(61, 57, 52);
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

p,
label,
button,
a {
  font-size: 1rem;
  font-family: var(--font-sans);
}

button,
a {
  cursor: pointer;
}

h1 {
  font-size: 2.2rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.4rem;
}

h5,
h6 {
  font-size: 1.2rem;
}

p,
label,
button,
a,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--rtc-textColor);
}

ul,
ol,
a {
  list-style: none;
  text-decoration: none;
}

input {
  font-family: var(--font-sans);
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.hidden {
  display: none !important;
}

.underlined {
  padding-bottom: 15px;
  background-image: url('/icons/angry-underline.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-clip: padding-box;
  background-position: 50% 100%;
  background-size: 100%;
}

/* WEBKIT SCROLLBAR */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: var(--rtc-color-2);
  border-left: 1px solid var(--rtc-color-3);
}

::-webkit-scrollbar-thumb {
  background-color: var(--rtc-color-3);
  transition: background-color 0.2s ease;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--rtc-textColorHighlight);
  cursor: pointer;
}

/*! MEDIA QUERIES */
@media (max-width: 1800px) {
  /* DESKTOP or less */
}

@media (max-width: 1024px) {
  /* LAPTOP - TABLET or less */
}

@media (max-width: 769px) {
  /* SMALL TABLET or less */
  html {
    font-size: 14px; /* 1rem = 14px */
  }
  input,
  textarea,
  select {
    font-size: 16px !important; /* mantenemos 16px para los inputs ya que iOS fuerza un zoom automático si algun input tiene un font-size inferior a 16px */
  }
}

@media (max-width: 480px) {
  /* MOBILE or less */
  h1 {
    font-size: 1.7rem;
  }
  h2 {
    font-size: 1.5rem;
  }

  /* Compacta les seccions reduint els paddings verticals */
  section {
    padding: 15px;
    justify-content: center;
  }
}
