#experienceSection {
  height: 100svh;
  background-color: var(--rtc-bgColor);
  padding: var(--rtc-padding-3xl);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#experienceHeader {
  display: flex;
  gap: var(--rtc-gap-3xl);
  justify-content: center;
}

.experienceButton {
  font-size: 2rem;
  width: 200px;
  background-color: var(--rtc-bgColor);
  border: none;
  font-weight: 500;
  cursor: pointer;
  padding-bottom: 25px;
}

.experienceButton:hover {
  color: var(--rtc-color-4);
}

.experienceButton.active {
  color: var(--rtc-color-4);

  background-image: url('/icons/angry-underline.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-clip: padding-box;
  background-position: 50% 35px;
  background-size: 180px;
}

#experienceContainer {
  font-size: 2rem;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

#experienceDiv,
#studiesDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  transition:
    transform 1s ease,
    opacity 0.5s ease;
}

#experienceDiv ul,
#studiesDiv ul {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}

#experienceDiv li,
#studiesDiv li {
  display: flex;
  flex-direction: column;
  gap: var(--rtc-gap-m);
}

#experienceContainer h4 {
  color: var(--rtc-textColorHighlight);
}

#experienceDiv.experience-hidden,
#studiesDiv.studies-hidden {
  opacity: 0;
}

#experienceDiv.experience-hidden {
  transform: translateX(-150%);
}

#studiesDiv.studies-hidden {
  transform: translateX(150%);
}

#experienceDiv.experience-active,
#studiesDiv.studies-active {
  opacity: 1;
  transform: translateX(0);
}

@media (max-width: 1200px) {
  .experienceButton {
    font-size: 2.2rem;
  }
  #experienceContainer {
    font-size: 1.5rem;
    height: 75%;
  }
}

@media (max-width: 1000px) {
  #experienceSection {
    padding: var(--rtc-padding-xl) var(--rtc-padding-m);
  }

  #experienceHeader {
    gap: var(--rtc-gap-s);
  }

  .experienceButton {
    font-size: 1.5rem;
  }
  #experienceContainer {
    font-size: 1rem;
  }

  .jobsPlaceAndPeriod,
  .studiesPlaceAndPeriod {
    font-size: 1rem;
  }
}
