#about {
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  background-color: var(--rtc-bgColorInverted);
  padding: var(--rtc-padding-3xl) 0;
  justify-content: space-around;
  gap: var(--rtc-gap-m);
}

#about h2 {
  color: var(--rtc-textColorInverted);
}

#about .skillsDiv h2 {
  font-size: 1.5rem;
  padding-bottom: 10px;
  background-image: url('/icons/angry-underline.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-clip: padding-box;
  background-position: 100px 27px;
  background-size: 70px;
}

#about p {
  color: var(--rtc-textColorInverted);
  width: 60%;
  font-size: 1.3rem;
  text-align: justify;
}

.aboutDiv,
.skillsDiv {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-evenly;
}

.aboutDiv {
  padding: 0 var(--rtc-padding-3xl);
}

.skillsDiv {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.skillsDiv h2 {
  padding: 0 var(--rtc-padding-3xl);
}

.skillsList {
  display: flex;
  /* gap: var(--rtc-gap-s); Infinite scroll won't work with this gap */
  width: max-content;
  padding: var(--rtc-padding-m) 0;
  animation: scrollLeft 10s linear infinite;
}

.skillsList::-webkit-scrollbar {
  display: none;
}

.skillsList:has(.skillItem:hover) {
  animation-play-state: paused;
}

@keyframes scrollLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-25%);
  }
}

.skillItem {
  width: 90px;
  height: 90px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 3px 8px var(--rtc-bgColor);

  border-radius: 20px;
  display: flex;
  margin-right: var(--rtc-gap-s);
}

.skillItem img {
  width: 100%;
  max-height: 100%;
  padding: 10px;
}

.skillItem .skillSpan {
  display: none;
  font-size: 0.8rem;
  font-weight: 600;
  color: var(--rtc-bgColor);
  cursor: default;
  text-align: center;
  text-wrap: wrap;
}

.skillItem:hover {
  transform: scale(1.2);
  z-index: 10;
}

.skillItem:hover img {
  display: none;
}

.skillItem:hover .skillSpan {
  display: block;
}

/* MOBILE */

@media (max-width: 1500px) {
  .aboutDiv {
    width: 100%;
  }

  .skillsDiv {
    width: 100%;
  }
}

@media (max-width: 1000px) {
  #about {
    text-align: center;
  }

  .aboutDiv {
    width: 100%;
  }

  .skillsDiv {
    width: 100%;
  }

  #about {
    padding: var(--rtc-padding-xl) 0;
  }

  #about h2 {
    color: var(--rtc-textColorInverted);
    font-size: 1.8rem;
  }

  #about p {
    color: var(--rtc-textColorInverted);
    font-size: 1.3rem;
  }
}
