#contactSection {
  display: flex;
  padding: var(--rtc-padding-3xl);
  background-color: var(--rtc-color-2);
  flex-direction: column;
  justify-content: center;
  gap: var(--rtc-gap-xl);
}

#titlesContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--rtc-gap-l);
}

#titlesContainer h2 {
  text-align: center;
}

#formContainer {
  width: 100%;
  display: flex;
  gap: var(--rtc-gap-xxl);
  justify-content: center;
}

.contactTitleSpan {
  color: var(--rtc-textColorHighlight);
}

.buttonsContainer {
  display: flex;
  flex-direction: column;
  gap: var(--rtc-gap-m);
  justify-content: space-between;
  min-width: 200px;
}

.interestBtn {
  width: 100%;
  height: 50px;

  display: flex;
  padding: var(--rtc-padding-s);
  line-height: 1.5;

  background-color: var(--rtc-color-2);
  cursor: pointer;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: 600;
  border: 2px solid var(--rtc-color-3);
  border-radius: var(--rtc-card-border-radius);
}

.interestBtn.active {
  background-color: var(--rtc-color-3);
  border: 2px solid var(--rtc-color-4);
}

.contactForm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--rtc-gap-m);
  width: 1000px;
}

.formGroup {
  width: 100%;
  display: flex;
}

.contactForm input {
  height: 50px;
}

.contactForm textarea {
  height: 150px;
  font-family: var(--font-sans);
}

.contactForm input,
.contactForm textarea {
  width: 100%;
  padding: var(--rtc-padding-xs);
  border: 2px solid var(--rtc-color-1);
  background-color: var(--rtc-color-4);
  background: linear-gradient(
    340deg,
    rgba(149, 205, 216, 1) 0%,
    rgba(255, 255, 255, 1) 32%
  );
  border-radius: 10px;

  font-size: 0.8rem;
}

.contactForm input:focus,
.contactForm textarea:focus {
  outline: none;
  border: 2px solid var(--rtc-color-4);
  background: var(--rtc-color-1);
}

#formSubmitButton {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--rtc-gap-l);
  background-color: var(--rtc-color-3);
  border: 2px solid var(--rtc-color-3);
  cursor: pointer;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: 500;
}

#formSubmitButton:hover {
  border: 2px solid var(--rtc-color-4);
}

#formSubmitButton:active {
  background-color: var(--rtc-color-4);
}

#formSubmitIcon {
  width: 30px;
  object-fit: contain;
}

.contactLinksList {
  display: flex;
  justify-content: center;
  gap: var(--rtc-gap-xl);
  width: 100%;
  height: 50px;
  align-items: center;
}

.contactLinksList img {
  width: 40px;
}

.contactLinksList li:hover {
  transform: scale(1.1);
  transition: transform 0.2s ease;
}

/*!  MEDIA  */
@media (max-width: 1800px) {
  /* DESKTOP or less */

  .interestBtn {
    padding: var(--rtc-padding-xs);
    line-height: 1.3;
    height: 50px;
    font-size: 0.8rem;
    font-weight: 500;
  }
}

@media (max-width: 1024px) {
  /* LAPTOP - TABLET or less */
  #contactSection {
    gap: var(--rtc-gap-xl);
    padding: var(--rtc-padding-xl);
  }

  #formContainer {
    font-size: 1rem;
    flex-direction: column;
  }

  .contactForm {
    width: 100%;
  }

  .buttonsContainer {
    gap: var(--rtc-gap-xs);
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .interestBtn {
    width: 150px;
  }

  #formSubmitButton {
    gap: var(--rtc-gap-s);
    font-size: 0.8rem;
    font-weight: 500;
  }
}

@media (max-width: 769px) {
  /* SMALL TABLET or less */

  #titlesContainer {
    font-size: 1rem;
    gap: var(--rtc-gap-s);
  }

  #formContainer {
    gap: var(--rtc-gap-m);
  }

  #formContainer .contactForm {
    gap: var(--rtc-gap-s);
  }

  #formContainer .contactForm input,
  #formContainer .contactForm textarea {
    width: 100%;
  }

  #titlesContainer h4 {
    font-size: 0.95rem;
  }

  #formSubmitButton {
    gap: var(--rtc-gap-s);
    font-size: 0.8rem;
    font-weight: 500;
  }
}

@media (max-width: 480px) {
  /* MOBILE or less */

  #contactSection {
    padding: var(--rtc-padding-m) var(--rtc-padding-s);
    gap: var(--rtc-gap-s);
    justify-content: space-evenly;
  }

  #titlesContainer {
    gap: var(--rtc-gap-xs);
  }

  #formContainer {
    gap: var(--rtc-gap-s);
  }

  #formContainer .contactForm {
    gap: var(--rtc-gap-xs);
  }

  .contactForm input {
    height: 40px;
  }

  .contactForm input,
  .contactForm textarea {
    font-size: 0.5rem;
  }

  .interestBtn {
    width: 100px;
    height: 40px;
  }

  .contactLinksList {
    gap: var(--rtc-gap-m);
    height: 40px;
  }

  #formSubmitButton {
    height: 40px;
  }
}
